<html><head>
    <title>XLSXReader + AngularJS Demo</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
<style type="text/css"></style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style></head>

<body>
    <div ng-app="App" class="container ng-scope">
        <div ng-controller="PreviewController" class="ng-scope">
            <h4>XLSX Reader demo</h4>
            <form action="" method="post" enctype="multipart/form-data" class="ng-pristine ng-invalid ng-invalid-required">
                <div class="form-group">
                    <label for="excel_file">Excel File</label>
                    <input type="file" name="excel_file" accept=".xlsx" onchange="angular.element(this).scope().fileChanged(this.files);" required="true">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showPreview" ng-change="showPreviewChanged();" class="ng-pristine ng-valid">Show preview of excel file
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="showJSONPreview" class="ng-pristine ng-valid">Show JSON preview of selected sheet
                    </label>
                </div>
                <div ng-show="isProcessing" style="display: none;">
                    <span>Processing ...</span>
                </div>

                <div class="form-group">
                    <label for="sheet_name">Sheet Name</label>
                    <select id="sheet_name" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-change="updateJSONString()" ng-model="selectedSheetName" required="required" ng-required="true" ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets"><option value="" class="">---- Select a sheet ----</option></select>
                </div>

                <input type="hidden" name="sheet_name" value="">

                <input type="submit" value="Submit">

                <div ng-show="showJSONPreview">
                    <h4>JSON Preview of selected sheet</h4>
                    <pre class="langauge-javascript">
                    	<code class="ng-binding"></code>
                    </pre>
                </div>
                <div ng-show="showPreview" style="display: none;">
                    <!-- ngRepeat: (sheetName, sheetData) in sheets -->
                </div>
            </form>
        </div>
    </div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script type="text/javascript" src="js/jszip.js"></script>
<script type="text/javascript" src="js/xlsx.js"></script>
<script type="text/javascript" src="js/xlsx-reader.js"></script>

<script type="text/javascript">
var app = angular.module("App", []);

app.factory("XLSXReaderService", ['$q', '$rootScope',
    function($q, $rootScope) {
        var service = function(data) {
            angular.extend(this, data);
        }

        service.readFile = function(file, readCells, toJSON) {
            var deferred = $q.defer();

            XLSXReader(file, readCells, toJSON, function(data) {
                $rootScope.$apply(function() {
                    deferred.resolve(data);
                });
            });

            return deferred.promise;
        }


        return service;
    }
]);

app.controller('PreviewController', function($scope, XLSXReaderService) {
    $scope.showPreview = true;
    $scope.showJSONPreview = true;
    $scope.json_string = "";

    $scope.fileChanged = function(files) {
        $scope.isProcessing = true;
        $scope.sheets = [];
        $scope.excelFile = files[0];
        console.log($scope.excelFile);	
        XLSXReaderService.readFile($scope.excelFile, $scope.showPreview, $scope.showJSONPreview).then(function(xlsxData) {
            $scope.sheets = xlsxData.sheets;
        	console.log($scope.sheets);
            $scope.isProcessing = true;
        });
    }
    $scope.updateJSONString = function() {
        $scope.json_string = JSON.stringify($scope.sheets[$scope.selectedSheetName], null, 2);
        console.log($scope.json_string);
    }

    $scope.showPreviewChanged = function() {
        if ($scope.showPreview) {
            $scope.showJSONPreview = true;
            $scope.isProcessing = true;
            XLSXReaderService.readFile($scope.excelFile, $scope.showPreview, $scope.showJSONPreview).then(function(xlsxData) {
                $scope.sheets = xlsxData.sheets;
                $scope.isProcessing = true;
            });
        }
    }
});
</script>

</body></html>