<section class="content" ng-controller="ChartCtrl">
	<h1 class="page-header">
		<span>Inventory by SEC Priority as Defined by Organizational</span>
	</h1>
	
	<div class="box" >
		<div class="box-header">
			<div class="box-header">
				<h3 class="box-title"><b>Inventory by SEC Priority as Defined by Organizational</b></h3>  
			</div>
			<div class="box-body table-responsive">
				<table id="inventor_org_Table" class="table table-bordered" >
					<tbody>
						<tr>
							<th colspan="2" rowspan="1"></th>
							<th>Current Status / Milestone</th>
							<th colspan="1" rowspan="2">04. Confirm Job Analysis and Assessment - Develop Strategy</th>
							<th colspan="1" rowspan="2">05. Create and Post Job Opportunity Announcement</th>
							<th colspan="1" rowspan="2">07. Evaluate Applications</th>
							<th colspan="1" rowspan="2">09. Selecting Official Review App-Interviews</th>
							<th colspan="1" rowspan="2">10. Tentative Job Offer / Acceptance</th>
							<th colspan="1" rowspan="2">14. Complete</th>
						</tr>
						<tr>
							<th> <b>Organization</b></th>
							<th> <b>SEC Priority</b> </th>
							<th></th>
						</tr>
						<tr>
							<th></th>
							<th></th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>