<section class="content" ng-controller="ChartCtrl">
	<div class="row">
		<section class="col-lg-3 connectedSortable ui-sortable">
				<!-- <h4>Inventory Organization</h4>
				<hr> -->
				<a href="#/inventory_organization">
					<div id="inventory_org_view" style="height: 300px"; "width: 300px">
					</div>
				</a>
		</section><!-- ./col -->

		<section class="col-lg-3 connectedSortable ui-sortable">
				<!-- <h4>Number of Tentative Offers By Organization</h4>
				<hr> -->
				<a href="#/tentative_offer_organization">
					<div id="tentative_offer_view" style="height: 300px"; "width: 300px">
					</div>
				</a>
		</section><!-- ./col -->

		<section class="col-lg-3 connectedSortable ui-sortable">
				<!-- <h4>Hiring Manager Status</h4>
				<hr> -->
				<a href="#/hiring_manager">
					<div id="hiring_manager_view" style="height: 300px"; "width: 300px">
					</div>
				</a>
		</section><!-- ./col -->
	
		<section class="col-lg-3 connectedSortable ui-sortable">
				<!-- <h4>Inventory OPM</h4>
				<hr> -->
				<a href="#/inventory_opm">
					<div id="inventory_opm_view" style="height: 300px"; "width: 300px">
					</div>
				</a>
		</section><!-- ./col -->
	</div><!-- /.row -->
<div class="messagesList" app-messages></div>
</section>